.scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

.grid {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  z-index: -1;
  padding: 20px;
  overflow: auto;
}

.square {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.square canvas {
  border-radius: 20px;
}

.cardTitle {
  position: absolute;
  top: 0;
  background: rgba(0.9, 0.9, 0.9, 0.2);
  width: 100%;
  text-align: center;
  font-family: 'Poppins';
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.cardTitle:hover {
  backdrop-filter: blur(3px);
  opacity: 1;
}
