.outerRing {
  position: absolute;
  top: calc(50% - min(210px, 48vw));
  left: calc(50% - min(210px, 48vw));
  height: min(420px, 96vw);
  width: min(420px, 96vw);
  background-image: linear-gradient(
    135deg,
    #feed07 0%,
    #fe6a50 5%,
    #ed00aa 15%,
    #2fe3fe 50%,
    #8900ff 100%
  );
  border-radius: 50%;

  /*  Rotate  */
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.innerRing {
  position: absolute;
  top: calc(50% - min(200px, 45vw));
  left: calc(50% - min(200px, 45vw));
  height: min(400px, 90vw);
  width: min(400px, 90vw);
  background-image: linear-gradient(0deg, #36295e, #1c1045);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-family: "Poppins", sans-serif;
  color: #e79191;
}

.innerRing strong {
  font-size: x-large;
  padding: 20px;
}
.innerRing hr {
  width: 100%;
  border: 1px solid #ae9fff;
}

.icons {
  display: flex;
  gap: 4px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
